* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
#root {
  width: 100%;
}
.page-bg {
  min-height: 100vh;

  background: #f4f1ea;

  background-image:
    linear-gradient(90deg, rgba(255, 180, 140, 0.12), rgba(255, 180, 140, 0)),

    linear-gradient(rgba(0, 0, 0, 0.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.035) 1px, transparent 1px);

  background-size:
    100% 100%,
    90px 90px,
    90px 90px;
}